<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="21d20f81-9f4c-4b1e-bc7d-6c6bbadbccd8" Publisher="CN=Adrien" Version="1.0.0.0" />
  <Properties>
    <DisplayName>klockRepro</DisplayName>
    <PublisherDisplayName>Adrien</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="klockRepro.App">
      <VisualElements DisplayName="klockRepro" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="klockRepro" ForegroundText="light" BackgroundColor="#1e1e1e">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#1e1e1e" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
</Package>