<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="45805Odrix.Ilestlheure" Publisher="CN=FC2A7F2C-5167-446B-8392-AB45EBA6B7B4" Version="1.1.0.5" />
  <Properties>
    <DisplayName>Il est l'heure</DisplayName>
    <PublisherDisplayName>Odrix</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="klockRepro.App">
      <VisualElements DisplayName="Il est l'heure" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="klockRepro" ForegroundText="light" BackgroundColor="#1e1e1e">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#1e1e1e" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
</Package>